/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #7da8ed;
    color: #2d74e5;
    font-family: "Verdana", sans-serif;
}

#main-title{
  font-size: 40px;
  color: #002663;
  text-align: center;

}

#pslo {
  margin-left: 50%;
  padding: 5px;
  font-size: 18px;
}

#courses {
  margin-right: 50%;
  padding: 5px;
}

h2{
  text-align: center;
  font-size: 25px;
}

#faculty{

}


.section{
  background-color: #ffffff;
  border-radius: 30px;
  border: 15px outset #70d1ac;
}
