/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
  padding: 30px;
  background-color: #ace2ad;
  color: #2d74e5;
  font-family: "Verdana", sans-serif;
}

#main-title{
  /* Here we give the main title a large enough font size for it to stand out from the rest of the text
  while not being too large */
  font-size: 40px;
  color: #002663;
  /* We also make sure to center the title so that it's quick and easy to see where you are */
  text-align: center;
}

/* We had originally planned on having the faculty images next to the content of the page
   however we ran into snags with getting the two elements to line up properly
   and it ended up being more work than we could handle with our current skill level
   so instead we just centered half the faculty images at the top of the page and half at the bottom*/
#faculty1, #faculty2{
  text-align: center;
  margin-left: 12%;
  margin-right:12%;
}

#faculty1>ul>li {
  display: inline-block;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

#faculty-list1 {
  padding-left: 0
}

#pslo {
  margin-left: 2px;
  padding: 0;
  font-size: 18px;
}

/* Here we check to see if the window is big enough such that the content of the page is still readable */
@media screen and (min-width: 850px) {
  /* This block reduces the total size of the PSLO element and shifts it to the left
     We did this to get a kind of tiling affect with the content blocks */
  #pslo{
    margin-left: 50%;
    padding: 5px;
  }

  #courses {
    margin-right: 50%;
    padding: 5px;
  }
}

#courses{
  margin-right: 2px;
  padding: 0;
}

h2{
  text-align: center;
  font-size: 25px;
}

#faculty2>ul>li {
  display: inline-block;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

#faculty-list2 {
  padding-left: 0
}

.section{
  background-color: #ffffff;
  border-radius: 30px;
  border: 15px outset #70d1ac;
}
